<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculo</title>
    <link rel="stylesheet" href="css/curriculo.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="img-area">
                <img src="img/foto.jpg" alt="foto">
            </div>
            <h1>Luis Ricardo</h1>
            <h3>Full-Stack Developer</h3>
        </div>

        <div class="main">
            <div>
                <h2>Informação Pessoal</h2>
                <p><strong>Nome:</strong>Luis Ricardo</p>
                <p><strong>Linkedin:</strong>www.linkedin.com/in/luisricardosan</p>
                <p><strong>Email:</strong>luisriccardo@proton.me</p>
                <p><strong>Fone:</strong>(11)93356-7571</p>
                <h2>habilidades</h2>
                <ul>
                    <li>HTML/CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Node.Js</li>
                    <li>SQL</li>
                </ul>
                <h2>Educação</h2>
                <h3>Técnico em Informática</h3>
                <p>Senac Largo Treze, 2023-2024</p>
                <h3>Gestão Tecnologia Informação</h3>
                <p>Universidade Unip, 2013-2014</p>
            </div>

            <div class="right">
                <h2>Experiências </h2>
                <h3>Cia Prada</h3>
                <p><strong>Posição:</strong>Software Developer</p>
                <p><strong>Duração:</strong>2021-2025</p>
                <ul>
                    <li> Desenvolvimento e manutenção de aplicação web usando React,   Node.Js e  SQL</li>
                     <li> Implementação de disign responsivo usando css flexbox e media queries</li>
                     <li> Colaborei com equipes multifuncionais para entregar produtos de software de alta qualidade</li>
                </ul><br>
                <h3>Cia Albras</h3>
                <p><strong>Posição:</strong>Software Developer</p>
                <p><strong>Duração:</strong>2017-2020</p>
                <ul>
                    <li>Criando e manutenção de sites usando HTML, CSS e JavaScript </li>
                    <li>Otimização do desempenho de sites e da experiência do usuário usando as melhores práticas</li>
                    <li>Trabalhei com clientes para entender suas necessidades e fornecer soluções personalizadas</li>

                   
                </ul>
            </div>
        </div>
    </div>
</body>
</html>