<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/servico.css">
    <title>Seção Serviço</title>
</head>
<body>
    <div class="container"></div>
    <h1 class="section-heading">Seção Serviços</h1>
    <div class="services-cards">
        <div class="services-card">
            <i class="fas fa-desktop"></i>
            <h2>Web Design</h2>
            <p>Especialista em sites de design que são atraentes e fáceis de usar. Nosso objetivo é transformar sua visão em realidade, proporcionando uma experiência positiva ao usuário.</p>
        </div>
        <div class="services-card">
            <i class="fas fa-code"></i>
            <h2>Web Development</h2>
            <p>Somos qualificados em diferentes linguagens e frameworks de codificação. Os nossos serviços de desenvolvimento web visam criar uma solução forte e adaptável personalizada para as necessidades do seu negócio.</p>
        </div>
        <div class="services-card">
            <i class="fas fa-mobile-alt"></i>
            <h2>Mobile App Development</h2>
            <p>Nós fazemos aplicativos criativos e repletos de recursos para iOS e Android. Nosso foco está em fornecer experiências suaves e fáceis de usar no desenvolvimento de aplicativos móveis.</p>
        </div>
    </div>
</html>